@charset "UTF-8";
*{
    margin:0 auto ;
    padding: 0;
}
body{
  background: #fcf5eb;
  width: 7.5rem;
}
img{
    width:100%;
    height: 100%;
}
#hea{
    position: fixed;
}
.content{
    width: 7.5rem;
    margin-top: .35rem;
    position: absolute;
}
.tit{
   width: 7.5rem;
   height: 1.05rem; 
   position: relative;
   .tit-link{
       width: 1rem;
       height: 1rem;
       background: url(../img/custom/custom-index/arrow.png)center no-repeat;
       background-size: .2rem .36rem;
       position: absolute;
       left:.23rem;
       top:.025rem;
   }
   h1{
       font-size: .36rem;
       color: #333;
       font-weight: bold;
       text-align: center;
       line-height: 1.05rem;
   }
}
#re{
    margin-bottom: 2.53rem;
}
.recom{
    width: 6.2rem;
    position: relative;
    margin-top: .3rem;
    
    h1{
        font-size: .34rem;
        color: #333;
        text-align: center;
        margin-bottom: .25rem;
        font-weight: 200;
    }
    .hr{
        width: .32rem;
        height: .01rem;
        background: black;
        position: absolute;
        top: .26rem;
    }
    .hr-left{
        left: 1.77rem;
    }
    .hr-right{
        right: 1.77rem;
    }
}
.cus-btn{
    width: 7.5rem;
    height: 2.51rem;
    background: url(../img/custom/custom-select/confirm.png)center no-repeat;
    background-size:cover;
    position: fixed;
    bottom: 0;
}
.btns{
    width: 6.2rem;
    height: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .25rem;
    .div{
        width: 1.74rem;
        height:  .75ren;
        
    }
}
.more{
    width: 6.2rem;
    height: 8.5rem;
    background: url(../img/custom/custom-select/back.png)center no-repeat;
    background-size:cover;
    h1{
        font-size: .3rem;
        color: #333;
        font-weight: 300;
        padding: .44rem 0;
        margin: 0;
    }
    .more-content{
        width: 6.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .7rem;
        .more-text{
            font-size: .28rem;
            color: #333;
            font-weight: 200;
        }
    }
    .line{
        width: 6.2rem;
        height: .01rem;
        background: url(../img/custom/custom-select/line.png)center no-repeat;
        background-size:cover;
    }
    .last-maore{
        margin-bottom: .55rem;
    }
    h2{
        font-size: .3rem;
        color: #333;
        font-weight: 200;
        padding-bottom: .4rem ;
        padding-left: .76rem;
        margin: 0;
    }
    .more-color{
        width: 6.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
        .color-text{
            font-size: .28rem;
            color: #333;
            font-weight: 200;
            height: .5rem;
            width: 50%;
        }
        .color1{
            background: url(../img/custom/custom-select/res1.png)1.6rem center no-repeat;
            background-size:.5rem;
            margin-left: .76rem;
        }
        .color-tit1{
            padding: 0;
            text-align: left;
            line-height: .5rem;
        }
        .color-tit2{
            line-height: .5rem;
        }
        .color2{
            background: url(../img/custom/custom-select/red2.png)1.5rem center no-repeat;
            background-size:.5rem;
        }
    }
}
.tit2{
    margin: .62rem 0 .44rem 0;
}
.help-icon{
    width: .32rem;
    height: .32rem;
    background: url(../img/custom/custom-select/question.png)center no-repeat;
    background-size:cover;
    position: absolute;
    right: 0;
    top: -.3rem;
}
.effect{
    width: 6.2rem;
    height: 5.25rem;
    background: url(../img/custom/custom-select/rotate.png)center no-repeat;
    background-size:3.4rem .6rem;
    margin-bottom: .4rem;
    .clo{
        width: 1.6rem;
        height: 5.25rem;
        background: url(../img/custom/custom-select/cloth.png)center no-repeat;
        background-size:cover;
    }
}
 p{
    font-size: .24rem;
    color: #333;
    text-align: center;
}





















